<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Gestão Hospitalar</title>
</head>
<body>
    <div align="center">
        <h1>Editar Espaço</h1>
        <br />
        <form action="/espacos/inserir"  th:object="${espaco}" method="post">
    
    		<label for="sala">Sala</label>
		    <input required type="text" th:field="*{sala}"  id="sala" placeholder="Sala">
		    <label for="custo">Custo</label>
		    <input required type="number" th:field="*{custo}"  id="fim" placeholder="Data Final">
		    
 			 <!-- label for="tipo">Tipo</label>
		    <select id="tipo" name="tipo">
		        	<option value="">Selecione</option>
		    		<div th:each="tipo : ${tipos}">
		        		<option value="${tipo}" th:text="${tipo}" th:field="*{tipo}"></option>
		        	 </div>
				</select-->
				<input type="hidden" th:field="*{id}" id="id">
				 <button>enviar</button>
		     
        </form>
    </div>
</body>
</html>