<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Gestão Hospitalar</title>
</head>
<body>
    <div align="center">
        <h1>Editar medicação</h1>
        <br />
    <form action="#" th:action="@{/medicacao/editar/{id}(id=${medicacao.id})}" th:object="${medicacao}" method="post">
    <label for="medicamento">Medicamento</label>
    <input type="text" value="${medicacao}.medicamento" th:field="*{medicamento}"  id="medicamento" placeholder="Medicamento">
    <label for="dosagem">Dosagem</label>
    <input type="text" value="${medicacao}.dosagem" th:field="*{dosagem}" id="dosagem" placeholder="Dosagem">
    <label for="dateTime">Data</label>
    <input type="date" value="${medicamento}.dateTime" th:field="*{dateTime}" id="dateTime" placeholder="Data/Hora">
    <input type="hidden" th:field="*{id}" id="id">

    



    <button>enviar</button>
     
</form>
    </div>
</body>
</html>