<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Gestão Hospitalar</title>
</head>
<body>
    <div align="center">
        <h1>Editar funcionario</h1>
        <br />
    <form action="#" th:action="@{/funcionario/editar/{id}(id=${funcionario.idPessoa})}"  th:object="${funcionario}" method="post">
    <label for="funcao">Função</label>
    <input type="text" value="${funcionario}.funcao" th:field="*{funcao}"  id="funcao" placeholder="Funcao">
    <label for="matricula">Matricula</label>
    <input type="text"  value="${funcionario}.matricula" th:field="*{matricula}" id="matricula" placeholder="Matricula">
    <label for="salario">Salario</label>
    <input type="text"  value="${funcionario}.salario" th:field="*{salario}" id="salario" placeholder="Salario">
    <label for="tipo">Tipo</label>
    <input type="text"  value="${funcionario}.tipo" th:field="*{tipo}" id="tipo" placeholder="Tipo">
     <input type="hidden" th:field="*{idPessoa}" id="idPessoa">
    
    

    
    
    <button>enviar</button>
     
</form>
    </div>
</body>
</html>