<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Gestão Hospitalar</title>
</head>
<body>
    <div align="center">
        <h1>Cadastrar novo Histórico</h1>
        <br />
        <form action="/historicos/editar"  th:object="${historico}" method="post">
    
		    <label for="procedimento">Procedimento</label>
		    <select id="procedimento" name="procedimento">
		        	<option value="">Selecione</option>
		    		<div th:each="procedimento : ${procedimentos}">
		        		<option value="${procedimento}" th:text="${procedimento.descricao}" th:field="*{procedimento}"></option>
		        	 </div>
				</select>
		    <label for="efeitosColaterais">Efeitos Colaterais</label>
		    <input required type="text" th:field="*{efeitosColaterais}"  id="efeitosColaterais" placeholder="Efeitos Colaterais">
		    
		     <!-- label for="medicamento">Medicamento</label>
				<select id="medicamento" name="medicamento">
		        	<option value="">Selecione</option>
		    		<div th:each="medicamento : ${medicamentos}">
		        		<option value="${medicamento}" th:text="${medicamento.descricao}"></option>
		        	 </div>
				</select>
				<label for="medicacao">Medicação</label>
				<select id="medicacao" name="medicacao">
		        	<option value="">Selecione</option>
		    		<div th:each="medicacao : ${medicoes}">
		        		<option value="${medicacao}" th:text="${medicacao.descricao}"></option>
		        	 </div>
				</select-->
			
		    <button>enviar</button>
		     
		</form>
    </div>
</body>
</html>