<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Gestão Hospitalar</title>
</head>
<body>
<div align="center">
    <h1>Espaços</h1>
    <a href="/espacos/inserir">Criar novo Espaço</a>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
            <tr>
                <th>tipo</th>
                <th>sala</th>
                <th>custo</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="espaco : ${espacos}">
                <td th:text="${espaco.tipo}">tipo</td>
                <td th:text="${espaco.sala}">sala</td>
                <td th:text="${espaco.custo}">custo</td>
                <td>
                    <a th:href="@{/espacos/editar/{id}(id=${espaco.id})}">Editar</a>
                    
                    <a th:href="@{/espacos/deletar/{id}(id=${espaco.id})}">Deletar</a>
                </td>
            </tr>
        </tbody>
    </table>
    <br />
    <a href="/">Voltar</a>
</div>   
</body>
</html>