<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Gestão Hospitalar</title>
</head>
<body>
<div align="center">
    <h1>Funcionário</h1>
    <a href="/funcionario/inserir">Criar novo Funcionário</a>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
            <tr> a
                <th>ID</th>
                <th>Função</th>
                <th>Matrícula</th>
                <th>Salário</th>
                <th>Tipo</th>
                <th>Ação</th>
                
                
            </tr>
        </thead>
        <tbody>
            <tr th:each="funcionario : ${funcionarios}">
                <td th:text="${funcionario.idPessoa}">id</td>
                <td th:text="${funcionario.funcao}">Função</td>
                <td th:text="${funcionario.matricula}">Matrícula</td>
                <td th:text="${funcionario.salario}">Salário</td>
                <td th:text="${funcionario.tipo}">Tipo</td>
                <td>
                    <a th:href="@{/funcionario/editar/{id}(id=${funcionario.idPessoa})}">Editar</a>
                    
                    <a th:href="@{/funcionario/by/deletar/{id}(id=${funcionario.idPessoa})}">Deletar</a>
                </td>

            </tr>
        </tbody>
    </table>
    <br />
    <a href="/">Voltar</a>
</div>   
</body>
</html>