<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Gestão Hospitalar</title>
</head>
<body>
<div align="center">
    <h1>Funcionário</h1>
    <a href="/funcionario/inserir">Criar novo Funcionário</a>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Data de Nascimento</th>
                <th>sexo</th>
                <th>telefone</th>
                <th>cpf</th>
                <th>salario</th>
                <th>matricula</th>
                <th>função</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="funcionario : ${funcionarios}">
                <td th:text="${product.name}">Nome</td>
    
                <td th:text="${product.price}">cpf</td>
                <td th:text="${product.price}">salario</td>
                <td th:text="${product.price}">matricula</td>
                <td th:text="${product.price}">função</td>
         
            </tr>
        </tbody>
    </table>
    <br />
    <a href="/">Voltar</a>
</div>   
</body>
</html>