<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Gestão Hospitalar</title>
</head>
<body>
<div align="center">
    <h1>Gestão Hospitalar</h1>
    <br/><br/>
    <table border="1" cellpadding="10">
        <tbody>
            <tr >
                <td><a href="/funcionario">Funcionário</a></td>
                <td><a href="/medicos">Médicos</a></td>
                <td><a href="/enfermeiros">Enfermeiros</a></td>
                <td><a href="/pacientes">Pacientes</a></td>
                <td><a href="/historicos">Históricos</a></td>
                <td><a href="/medicacoes">Medicações</a></td>
                <td><a href="/medicamentos">Medicamentos</a></td>
                <td><a href="/procedimentos">Procedimentos</a></td>
                <td><a href="/espacos">Espaços</a></td>
                <td><a href="/enderecos">Endereços</a></td>
            </tr>
        </tbody>
    </table>
</div>   
</body>
</html>