<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Gestão Hospitalar</title>
</head>
<body>
<div align="center">
    <h1>Medicações</h1>
    <a href="/new">Criar nova Medicação</a>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
            <tr>
                <th>ID</th>
                <th>medicamento</th>
                <th>dosagem</th>
                <th>dataHora</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="medicacao : ${medicacoes}">
                <td th:text="${medicacao.id}">id</td>
                <td th:text="${medicacao.medicamento}">Medicamento</td>
                <td th:text="${medicacao.dosagem}">Dosagem</td>
                <td th:text="${medicacao.dateTime}">Data</td>
                <td>
                    <a th:href="@{/medicacoes/editar/{id}(id=${medicacao.id})}">Editar</a>
                    
                    <a th:href="@{/medicacoes/by/deletar/{id}(id=${medicacao.id})}">Deletar</a>
                </td>

            </tr>
        </tbody>
    </table>
    <br />
    <a href="/index.html">Voltar</a>
</div>   
</body>
</html>