<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Gestão Hospitalar</title>
</head>
<body>
<div align="center">
    <h1>Medicamentos</h1>
    <a href="/medicamentos/inserir">Criar novo Medicamento</a>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
            <tr>
                <th>ID</th>
                <th>descrição</th>
                <th>unidade de medida</th>
                <th>quantidade</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="medicamento : ${medicamentos}">
                <td th:text="${medicamento.id}">id</td>
                <td th:text="${medicamento.descricao}">Descrição</td>
                <td th:text="${medicamento.unidadeDeMedida}">Unidade de medida</td>
                <td th:text="${medicamento.quantidade}">Quantidade</td>
                <td>
                    <a th:href="@{/medicamentos/editar/{id}(id=${medicamento.id})}">Editar</a>
                    
                    <a th:href="@{/medicamentos/by/deletar/{id}(id=${medicamento.id})}">Deletar</a>
                </td>

            </tr>
        </tbody>
    </table>
    <br />
    <a href="/index.html">Voltar</a>
</div>   
</body>
</html>