<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Gestão Hospitalar</title>
</head>
<body>
    <div align="center">
        <h1>Cadastrar novo Paciente</h1>
        <br />
      <form action="/pacientes/inserir" th:object="${paciente}" method="post">
    <label for="nome">Name</label>
    <input required type="text" th:field="*{nome}" id="nome" placeholder="Nome">
    <label for="cpf">Cpf</label>
    <input required type="text" th:field="*{cpf}" id="cpf" placeholder="Cpf">
    <label for="telefone">Telefone</label>
    <input required type="text" th:field="*{telefone}" id="telefone" placeholder="Telefone">
    <label for="datadenascimento">Data de Nascimento</label>
    <input required type="date" th:field="*{dataNascimento}" id="datadenascimento" placeholder="Data de Nascimento">
    <label for="sexo">Sexo</label>
    <input required type="text" th:field="*{sexo}" id="sexo" placeholder="Sexo">
    
    
    <button>enviar</button>
     
</form>
    </div>
</body>
</html>