<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Gestão Hospitalar</title>
</head>
<body>
    <div align="center">
        <h1>Cadastrar nova medicação</h1>
        <br />
    <form action="/medicacoes/inserir"  th:object="${medicacao}" method="post">
    <label for="medicamento">Medicamento</label>
    <input type="text" th:field="*{medicamento}"  id="medicamento" placeholder="Medicamento">
    <label for="dosagem">Dosagem</label>
    <input type="text"  th:field="*{dosagem}" id="dosagem" placeholder="Dosagem">
    <label for="salario">Data</label>
    <input type="text"  th:field="*{dateTime}" id="dateTime" placeholder="Data">


    <button>enviar</button>
     
</form>
    </div>
</body>
</html>