<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Gestão Hospitalar</title>
</head>
<body>
    <div align="center">
        <h1>Cadastrar novo Enfermeiro</h1>
        <br />
        <form action="/enfermeiros/inserir"  th:object="${enfermeiro}" method="post">
    
		    <div>
		    <label for="nome">Nome</label>
		    <input type="text" th:field="*{nome}"  id="nome" placeholder="Nome">
		    </div>
		    <label for="dataNasc">Data de nascimento</label>
		    <input type="date" th:field="*{dataNascimento}"  id="dataNasc" placeholder="Data de nascimento">
		    <label for="sexo">Sexo</label>
		    <input type="text" th:field="*{sexo}"  id="sexo" placeholder="Sexo">
		    <label for="telefone">Telefone</label>
		    <input type="text" th:field="*{telefone}"  id="telefone" placeholder="Telefone">                          
		    <label for="cpf">CPF</label>
		    <input type="text" th:field="*{cpf}"  id="cpf" placeholder="CPF">
		    <label for="funcao">Função</label>
		    <input type="text" th:field="*{funcao}"  id="funcao" placeholder="Funcao">
		    <label for="matricula">Matricula</label>
		    <input type="text"  th:field="*{matricula}" id="matricula" placeholder="Matricula">
		    <label for="salario">Salario</label>
		    <input type="text"  th:field="*{salario}" id="salario" placeholder="Salario">
		     <!--label for="especialidade">Especialidade</label>
				<select id="especialidade" name="especialidade">
		        	<option value="">Selecione</option>
		    		<div th:each="especialidade : ${especialidades}">
		        		<option value="${especialidade}" th:text="${especialidade}"></option>
		        	 </div>
				</select-->
			<label for="coren">COREN</label>
		    <input type="text"  th:field="*{coren}" id="coren" placeholder="COREN">
		
		    
		    
		    <button>enviar</button>
		     
		</form>
    </div>
</body>
</html>