<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Gestão Hospitalar</title>
</head>
<body>
<div align="center">
    <h1>Pacientes</h1>
    <a href="/new_paciente">Criar novo Paciente</a>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Data de Nascimento</th>
                <th>sexo</th>
                <th>telefone</th>
                <th>cpf</th>
                <th>endereço</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="paciente : ${pacientes}">
                <td th:text="${paciente.id}">ID</td>
                <td th:text="${paciente.nome}">Nome</td>
                <td th:text="${paciente.dataNascimento}">Data de Nascimento</td>
                <td th:text="${paciente.sexo}">sexo</td>
                <td th:text="${paciente.telefone}">telefone</td>
                <td th:text="${paciente.cpf}">cpf</td>
                <td th:text="${paciente.endereco}">endereço</td>
                <td>
                    <a th:href="/@{'/edit/' + ${paciente.id}}">Editar</a>
                    &nbsp;&nbsp;&nbsp;
                    <a th:href="/@{'/delete/' + ${paciente.id}}">Deletar</a>
                </td>
            </tr>
        </tbody>
    </table>
    <br />
    <a href="/">Voltar</a>
</div>   
</body>
</html>