<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Gestão Hospitalar</title>
</head>
<body>
<div align="center">
    <h1>Procedimento</h1>
    <a href="/procedimentos/inserir">Criar novo Procedimento</a>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
            <tr>
                <th>Tipo de procedimento</th>
                <th>Inicio</th>
                <th>Fim</th>
                <th>Descrição</th>
                <!-- th>Custo total</th-->
            </tr>
        </thead>
        <tbody>
            <tr th:each="procedimento : ${procedimentos}">
                <td th:text="${procedimento.tipo}">Tipo de procedimento</td>
                <td th:text="${procedimento.inicio}">Inicio</td>
                <td th:text="${procedimento.fim}">Fim</td>
                <td th:text="${procedimento.descricao}">Descrição</td>
                <!-- td th:text="${procedimento.espaco[0].custo}">Custo total</td-->
                <td>
                    <a th:href="@{/procedimentos/editar/{id}(id=${procedimento.id})}">Editar</a>
                    
                    <a th:href="@{/procedimentos/deletar/{id}(id=${procedimento.id})}">Deletar</a>
                </td>
            </tr>
        </tbody>
    </table>
    <br />
    <a href="/">Voltar</a>
</div>   
</body>
</html>